*{
    font-family: 'Cookie', cursif;
font-family: 'Hind', sans-serif;
}
body{
    background: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
    
}
 
.container-fluid img{
    width: 75px;
    height: 75px;
}
h2{
    background: rgba(143,143,143,0.9);
    color: rgb(48,48,48);
    text-align: center;
    text-justify: auto;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;
}

 h3 {
    color: rgba(255,255,255,.3);
    background: #1a1a1a;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
    text-align: center;
    width: 200px;
    justify-content: flex-end;  
}
footer{
    background: rgba(143,143,143,0.9);
    text-align: center;
}
@media  screen and (max-width:600px) {
    div .card-body{
       
       
    }
    
}
