body{
    background: url(image/fond_page2.jpg);
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    background: rgba(255,255,255, 0.6);
    text-align: center;
}
.card h5{
    text-align: center;
}
.list-group-item{
    background: rgba(255,255,255, 0.6);
}
